<div class="signinComponent">
    <div class="parentDiv">
        <div class="childDiv">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12"></div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h1>Sign In</h1>
                    <form action="">
                        <input class="m-2 inputBox" type="text" placeholder="Email or Phone number" id="sighInEmail">
                        <br>
                        <input class="m-2 inputBox" type="password" placeholder="Password" id="signinPassword">
                        <br>
                        <button>Sign In</button>
                    </form>
                    <input type="checkbox" class="checkBox">
                    <label for="">Remember me</label>
                    <a href="">Need help?</a> <br>

                </div>
                <div class="col-lg-2 col-md-2 col-sm-12"></div>
            </div>
            <div class="newUser">
                <p class="mt-2">New User? &nbsp; <a routerLink="/register" >Register Now </a> </p>
            </div>
       
        </div>

    </div>


</div>