/* navbar */
.navbarDesign {
    position: relative;
    z-index: 2;

}

.navbarDesign img {
    width: 10%;
    margin-top: 20px;
    margin-left: 50px;
}

.navbarDesign select {
    background-color: #00000066;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    float: right;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    right: 85px;
    margin-top: 20px;

}

.navbarDesign button {
    background-color: #ef0914;
    color: white;
    padding: 5px 16px;
    border-radius: 3px;
    float: right;
    position: relative;
    right: 55px;
    border: none;
    margin-top: 20px;

}




.home-Container{
    display: flex;
}
.allMovies{
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid #fdc827;
    padding: 20px 40px;
    font-family: "Roboto" , sans-serif;
}
.popular-movies{
    width: 25%;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
    font-family: "Roboto" , sans-serif;
    margin-left: 75%;
    margin-top: -48%;

}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h4{
    text-transform: uppercase;
    font-weight: bold;
    border-left: 5px solid #ff9900;
    padding-left: 10px;
}
.viewAll{
    color: #ff9900;
    cursor: pointer;
}
.movie-thumbnail{
    display: flex;
    justify-content: space-between;
}
/* @media(max-width:1500px){
    .movie-thumbnail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

    }
    .cover {
        border-radius: 5px;
        width: 30%;
    }
    
}
@media(max-width:500px){
    .movie-thumbnail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .cover {
        border-radius: 5px;
        width: 100%;
    }

} */

.cover img{
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
}
.details{
    width: 180px;
}
.name{
    font-weight: bold;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
}
.PopularMovies{
margin-bottom: 20px;
margin-top: 30px;
display: flex;
align-items: center;
justify-content: space-between;

}
.popularMovieName{
    font-weight: bold;
    cursor: pointer;

}
