<div class="sectionOne mb-5">
    <div class="navbarDesign">
        <img loading="eager" src="../../assets/logo.png" alt="">
        <button routerLink="/" type="submit" class="submit">Sign Out</button>
    </div>
</div>


<div class="home-container">
    <div class="allMovies">
        <div class="trendingMovies">
            <div class="top" style="color: white;">
                <h4>Trending Movies</h4>
                <div class="viewAll">View All</div>
            </div>
            <div class="movie-thumbnail" style="color: white;">
                <div class="movie" *ngFor="let movie of trendingMovies">
                    <div class="cover" (click)="goToMovie('trending',movie.id)">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="details ">
                        <div class="name">{{movie.name}}</div>
                        <div class="rating">Rating : {{movie.rating}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- popular movie -->
        <div class="theatreMovies mt-5" style="color: white;">
            <div class="top">
                <h4>popular in Theatres</h4>
                <div class="viewAll">View All</div>
            </div>
            <div class="movie-thumbnail">
                <div class="movie" *ngFor="let movie of  theatresmovies">
                    <div class="cover" (click)="goToMovie('theatre',movie.id)">
                        <img [src]="movie.cover" alt="">
                    </div>
                    <div class="details ">
                        <div class="name">{{movie.name}}</div>
                        <div class="rating">Rating : {{movie.rating}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-movies" style="color: white;">
        <h4>All Time Popular</h4>
        <div class="popularMovies" *ngFor="let movie of  popularMovies">
            <div class="popularMovieName" (click)="goToMovie('popular',movie.id)">{{movie.name}}</div>
            <div class="rating mb-4">Rating : {{movie.rating}}</div>
        </div>

    </div>

</div>